            <section class="skills-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.publications.icon }}"></i>{{ i18n "publications" }}</h2>
		<div class="intro">
                    <p>{{ with .Site.Params.publications.intro }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//intro-->
                <div class="skillset">
				{{ range .Site.Params.publications.list }}
                    <div class="item">
                        <h3 class="level-title">{{ .skill }}</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="{{ .level }}">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                {{ end }}
                </div>
            </section><!--//skills-section-->
